body{
    margin: 0;
}
header{
    background: linear-gradient(180deg,rgba(255, 95, 47, 0) 50%, rgb(255, 255, 255) 90%), url(../img/header.jpg) no-repeat;
    width: auto;
    height: auto;
    background-size: cover;
    background-position: 50% 33%;
}
.divHeader{
    display: flex;
    justify-content: space-around;
    color: white;
}
h1, .headerNav{
    margin-top: 0;
    padding-top: 2.75rem;
}
.headerNav{
    display: flex;
    list-style-type: none;
    gap: 8%;
    font-size: 140%;
}
.headerNav a{
    text-decoration: none;
    color: white;
}
.secHeader2{
    display: flex;
    justify-content: center;
    padding-top: 5%;
}
.divHeader2{
    margin-left: -16%;
}
.divHeader2>p:first-of-type{
    align-items: center;
    font-size: 4.2rem;
    color: rgb(89, 90, 96);
    margin-bottom: 1.3rem;
}
.divHeader2>p:nth-of-type(2){
    font-size: 5rem;
    margin-top: 0;
    margin-bottom: 1rem;
    color: rgb(65, 69, 78);
}
.divHeader2>p:nth-of-type(3){
    font-size: 2rem;
    letter-spacing: 0.5rem;
}
.btnHeader{
    padding: 0.9rem;
    border-radius: 30px;
    font-size: 1.3rem ;
    background-color:rgb(105, 90, 166);
    color: white;
    border: none;
    margin-bottom: 30%;
}
.section1{
    display: flex;
    justify-content: center;
    padding-right: 20%;
    margin-bottom: 10%;
}
.divSection1{
    width: 46%;
    display: flex;
    justify-content: end;
}
.div2Section1{
    width: 60%;
}
.p1section1{
    font-size: 120%;
    margin-bottom: 1%;
}
.p2section1{
    color: rgb(104, 89, 165);
    font-weight: bold;
    font-size: 3rem;
    margin-top: 2px;
    margin-bottom: 1%;
}
.p3section1{
    font-size: 1.7rem;
    line-height: 2rem;
}
.btnSection1{
    margin-top: 3%;
    background-color: transparent;
    color: rgb(104, 89, 165);
    border: solid 1px;
    border-color: rgb(104, 89, 165);
    border-radius: 30px;
    padding : 1.2%;
    font-size: 1.4rem;
    padding-left: 2%;
    padding-right: 2%;
    font-weight: 500;
}
.p1section2, .p2section2{
    display: flex;
    justify-content: center;
    align-items: center;
}