body{
    margin: 0;
}
header{
    background: linear-gradient(180deg,rgba(255, 95, 47, 0) 50%, rgba(255, 255, 255, 0.562) 90%), url(../img/header.jpg) no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: 50% 35%;
}
.divHeader{
    display: flex;
    justify-content: space-around;
    color: white;
}
h1, .headerNav{
    margin-top: 0;
    padding-top: 2.75rem;
}
.headerNav{
    display: flex;
    list-style-type: none;
    gap: 8%;
    font-size: 140%;
}
.headerNav a{
    text-decoration: none;
    color: white;
}
.secHeader2{
    display: flex;
    justify-content: center;
    padding-top: 5%;
}
.divHeader2>p:first-of-type{
    width: 33%;
    align-items: center;
    font-size: 4.5rem;
    color: rgb(89, 90, 96);
}
