@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sofia&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sofia&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.noto-sans-jp-{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
.baloo-2-{
    font-family: "Baloo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
body{
    margin: 0;
}
header{
    background: linear-gradient(180deg,rgba(255, 95, 47, 0) 50%, rgb(255, 255, 255) 90%), url(../img/header.jpg) no-repeat;
    width: auto;
    height: auto;
    background-size: cover;
    background-position: 50% 33%;
}
.navHeader{
    display: flex;
    justify-content: space-around;
    color: white;
    margin-bottom: -100px;
    position: sticky;
    top: 0px;
}
.navHeader h1{
    animation: textGlow 2s ease-in-out infinite alternate;
}
@keyframes textGlow {
    from {
        text-shadow: 0 0 10px #2e1616, 0 0 20px #47b115, 0 0 30px #f00379, 0 0 40px #f71212, 0 0 50px #e60073, 0 0 60px #aa4577, 0 0 70px #e60073;
      }
      to {
        text-shadow: 0 0 20px #d80c0c, 0 0 30px #594dff, 0 0 40px #3826e2, 0 0 50px #ff4da6, 0 0 60px #4acc8b, 0 0 70px #4dff65, 0 0 80px #b90aee;
      }
}

h1, .headerNav{
    margin-top: 0;
    padding-top: 2.75rem;
}
.headerNav{
    display: flex;
    list-style-type: none;
    gap: 8%;
    font-size: 140%;
}
.headerNav a{
    text-decoration: none;
    color: white;
    animation: textGlow 2s ease-in-out infinite alternate;
}
.secHeader2{
    display: flex;
    justify-content: center;
    padding-top: 5%;
}
.divHeader2{
    margin-left: -8.5%;
}
.divHeader2>p:first-of-type{
    align-items: center;
    font-size: 4.2rem;
    color: rgb(89, 90, 96);
    margin-bottom: 1.3rem;
}
.divHeader2>p:nth-of-type(1){
    font-family: 'Baloo 2';
    font-weight: bold;
}
.divHeader2>p:nth-of-type(2){
    font-size: 5rem;
    margin-top: 0;
    margin-bottom: 1rem;
    color: rgb(65, 69, 78);
    font-family: 'Baloo 2';
    font-weight: bold;
}
.divHeader2>p:nth-of-type(3){
    font-size: 2rem;
    letter-spacing: 0.8rem;
    font-family: 'Baloo 2';
    font-weight: 300;
}
.btnHeader{
    padding: 0.9rem;
    border-radius: 30px;
    font-size: 1.3rem ;
    background-color:rgb(105, 90, 166);
    color: white;
    border: none;
    margin-bottom: 30%;
}
.section1{
    display: flex;
    justify-content: center;
    padding-right: 20%;
    margin-bottom: 10%;
}
.divSection1{
    width: 46%;
    display: flex;
    justify-content: end;
}
.div2Section1{
    width: 60%;
}
.p1section1{
    font-size: 120%;
    margin-bottom: 1%;
}
.p2section1{
    color: rgb(104, 89, 165);
    font-weight: bold;
    font-size: 3rem;
    margin-top: 2px;
    margin-bottom: 1%;
    font-family: 'Baloo 2';
    font-weight: bold;
    
}
.p3section1{
    font-size: 1.7rem;
    line-height: 2rem;
}
.btnSection1{
    margin-top: 3%;
    background-color: transparent;
    color: rgb(104, 89, 165);
    border: solid 1px;
    border-color: rgb(104, 89, 165);
    border-radius: 30px;
    padding : 1.2%;
    font-size: 1.4rem;
    padding-left: 2%;
    padding-right: 2%;
    font-weight: 500;
}

.p1section2, .p2section2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.p1section2{
    font-size: 1.5rem;
    color: rgb(106, 106, 106);
    margin-bottom: 0.5%;
}
.p2section2{
    font-size: 3.3rem;
    color:rgb(104, 89, 165);
    font-weight: bold;
    margin-top: 0%;
    font-family: 'Baloo 2';
    font-weight: bold;
}
.div2Section2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 10%;
}
.logoSection2{
    height: 80px;
    display: flex;
    justify-content: center;
}
.logo1Section2, .logo2Section2, .logo3Section2, .logo4Section2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
    border: solid 1px rgb(230, 233, 236);
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 4%;
    padding-bottom: 3%;
    border-radius: 5px;
}
.logo1Section2, .logo2Section2{
    padding-left: 6%;
    padding-right: 6%;
}
.motSectionLogo{
    font-family: 'Baloo 2';
    font-weight: bold;
    margin-top: 30%;
    font-size: 30px;
    color:  rgb(104, 89, 165);
    font-weight: 1000;
}